<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Casdastro</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br>

        <label for="contato">Contato:</label>
        <input type="text" id="contato" name="contato"><br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>